:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #fff9c2;
}

/* Head container */

.navbar_logo {
  display: block;
  font-size: 45px;
  color: #ffa791;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  pointer-events: none;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 90%;
  padding: 15px;
  overflow: hidden;
  background-color: #fde7b1;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #ffa791;
  text-align: center;
  margin: 0 20px;
  padding: 33px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 12px;
}

li a:hover {
  background-color: #fff9c2;
  text-decoration: underline;
}

.logoutBtn {
  background-color: #ffa791;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: #fff9c2;
  color: #ffa791;
}

/* main */

h2 {
  font-size: 30px;
  color: #ffa791;
  text-align: center;
}

h3 {
  font-size: 25px;
  color: #ffa791;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: #ffa791;
  text-align: center;
}

p {
  font-size: 18px;
  color: #ffa791;
  text-align: center;
  width: 60%;
  margin: auto;
}

/* Diary data cards */

.diary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-area_null {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parent {
  display: flex;
  flex-direction: row;
  background-color: #fde7b1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  width: 40%;
  height: auto;
  min-height: 400px;
}

.child-left {
  flex: 1;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.child-right {
  flex: 2;
  font-size: 15px;
  overflow: auto;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}

.Book1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 0px 0px 0px;
  padding: 2px;
}

#diaryRequest {
  width: 30%;
  background-color: #ffa791;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#diaryRequest:hover {
  background-color: #fde7b1;
  color: #ffa791;
}

/* Habit data cards */

.habit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-area_null2 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card-area2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parent2 {
  display: flex;
  flex-direction: row;
  background-color: #fde7b1;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  width: 40%;
  height: auto;
  min-height: 400px;
}

.child-left2 {
  flex: 1;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.child-right2 {
  flex: 2;
  font-size: 15px;
  overflow: auto;
  word-wrap: break-word;
  flex-direction: column;
  justify-content: center;
}

.Book2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 0px 0px 0px;
  padding: 2px;
}

#habitRequest {
  width: 30%;
  background-color: #ffa791;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#habitRequest:hover {
  background-color: #fde7b1;
  color: #ffa791;
}

/* footer */

.foot_container {
  margin-top: 30px;
  padding: 30px;
  background-color: #fde7b1;
}

.t4 {
  text-align: center;
  color: #ffa791;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  padding-top: 10px;
}

@media screen and (max-width: 800px) {
  .navbar_logo {
    font-size: 25px;
    padding: 0;
  }
  li a {
    font-size: 20px;
  }
}
